:root {
  --CL-primary-blue: #2e3191;
  --CL-primary-dark-blue: #2a2977;
  --CL-neutral-black: #000;
  --CL-neutral-white: #fff;
  --CL-neutral-gray: #6afa82;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  max-height: 100%;
}

button,
input,
label {
  font-family: 'Poppins', sans-serif;
}

/* Containers */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1em;
}

.container-sm {
  max-width: 1200px;
}

/* Section */

.section {
  padding: 1em 0;
}

/* Grid */
.grid {
  display: grid;
}

/* Flex */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* Titles */
.h1 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.1;
  text-align: center;
}

.h2 {
  font-size: 1.75rem;
}

/* Buttons */

.btn {
  padding: 0.5em;
  width: 6em;
  font-size: 1rem;
  border-radius: 0.5em;
  border: none;
  transition: 0.15s;
  cursor: pointer;
}

.btn-primary {
  outline: 1px solid var(--CL-neutral-black);
  box-shadow: 2px 2px 0 var(--CL-neutral-white);
  background-color: var(--CL-primary-blue);
  color: var(--CL-neutral-white);
}

.btn-primary:hover {
  box-shadow: 4px 4px 0 var(--CL-neutral-white);
}

.btn-submit {
  float: right;
}

.bg-blue {
  background-color: var(--CL-primary-blue);
  padding: 1em 0;
  color: var(--CL-neutral-white);
}

/* NavBar */

.navbar {
  display: none;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  transition: 0.25s;
}

.nav-link {
  color: var(--CL-neutral-white);
  text-decoration: none;
  display: inline-block;
}

.nav-icon {
  font-size: 2rem;
}

.nav-item:hover {
  transform: scale(1.25);
}

/* Main */
.main {
  background-color: var(--CL-primary-dark-blue);
  color: var(--CL-neutral-white);
  height: 100%;
}

/* Borders */
.border-1 {
  border: 3px solid var(--CL-neutral-white);
}

/* List */
.list {
  list-style: none;
  padding: 0;
  display: grid;
  margin: 0;
}

.list-item {
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: var(--CL-neutral-gray);
  color: var(--CL-neutral-black);
}

.list-item-accent {
  background-color: var(--CL-neutral-white);
  color: var(--CL-primary-dark-blue);
}

/* Flex */
.flex-system {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Form */
.form {
  display: grid;
  gap: 1em;
}

.form-item {
  max-width: 60em;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Navbar */
  .navbar {
    display: unset;
  }

  /* Flex */
  .flex-system {
    flex-direction: row;
  }

  /* Titles */
  .h1 {
    font-size: 3rem;
    text-align: left;
  }

  .h2 {
    font-size: 2rem;
  }

  /* Grid */
  .gap-1 {
    gap: 1em;
  }

  .gap-3 {
    gap: 3em;
  }
}
